---
import { Image } from 'astro:assets';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import avatar from "../../public/avatar.jpeg";

---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>
				I'm <b>Mateusz Jasiński</b>, Experienced Engineering Manager with 8+ years in the IT industry,
				specializing in system architecture, project leadership, and digital product development.
				Proficient in modern Python frameworks, with hands-on expertise in shaping and delivering complex projects from concept to release. 
				Successfully managed the development and launch of over 10 products, leading three cross-functional teams across different time zones.
				Known for driving technical excellence, optimizing processes, and ensuring timely, high-quality outcomes in fast-paced environments.
			</p>
		
			<!-- <p>
				Do logos here
				<ul class="list-disc">
					<li>System design/architecture</li>
					<li>Python</li>
					<li>Web Frameworks - Django, FastAPI</li>
					<li>Kubenetes</li>
					<li>Docker</li>
				</ul>
			</p>

			<p>
				My projects
			</p> -->
		</main>
		<Footer />
	</body>
</html>
